.header-background{
    width: 100%;  
    background-size: cover;
    background-position: center;
}

.company-concept{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    padding: 70px 0 150px 0;
}

